<header class="header">
  <div class="header__title header-title">
      <p class="header-title__name">
        <strong>
          Hubert Podgórski
        </strong>
      </p>
      <p class="header-title__role">
        Front-end Team Leader & Javascript Developer
      </p>
  </div>
  <div class="header__print-out-cv">
    <i class="material-icons header__icon">print</i> Print Out My CV
  </div>
  <address class="header__email">
    Any questions ? Write me at 
    <a class="header__mailto" href="mailto:hubert.podgorski.business@gmail.com?Subject=CV%20question" target="_top">
      hubert.podgorski.business@gmail.com
    </a>
  </address>
  <div class="header__nav nav"></div>
</header>