$header-title-color: #fff;

$print-out-cv-background: #199cdb;
$print-out-cv-background-hover: #fff;
$print-out-cv-color: #fff;
$print-out-cv-color-hover: #199cdb;

$header-email-color: #fff;

$header-mailto-color: #199cdb;